.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid #c9c2c2;

}
.header__icon {
    padding: 0;
}

.header__logo {
    object-fit: contain;
    height: 40px;
}